{% extends 'tickets/base.html' %}
{% load static %}

{% block content %}
<div class="h-100 d-flex flex-column align-items-center justify-content-center pt-5 pb-5">
    <img src="{% static 'img/logo_ugel.webp' %}" alt="Logo" class="mb-4" style="max-height: 100px;">
    <h1 class="display-1 fw-bold text-danger">500</h1>
    <h2 class="h4 text-muted mb-4">Error interno del servidor</h2>
    <p class="text-secondary text-center">
        Lo sentimos, nuestro servidor experimentó un problema al procesar tu solicitud. <br>
        Por favor, contacta a Soporte TI si el problema persiste.
    </p>
    <a href="{% url 'index' %}" class="btn btn-primary mt-3 px-4 py-2 rounded-pill">
        <i class="fas fa-home me-2"></i>Volver al Inicio
    </a>
</div>
{% endblock %}
